// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    background-color: $yellow-back;
    text-align: center;
    
    h1 {
        color: $dark-color;
        font-size: 4rem;
        font-family: 'Squada One';
    }
}