// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Title font family
/// @type List
$title-font-stack: 'Squada One', cursive;

/// Digital numbers
/// @type List
$digital-font-stack: 'Nova Square', cursive;



/// FIRST ALTERNATIVE COLOR
/// Title color and button color
/// @type Color
$dark-color: rgb(72, 91, 97) !default;

/// Alternative button color
/// @type Color
$mid-color: rgb(129, 137, 108) !default;

/// Yellow back
/// @type Color
$yellow-back: rgb(255, 255, 146) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(244, 246, 241) !default;

/// Screen
/// @type Color
$screen-color: rgb(215, 242, 255) !default;

/// Button ON
/// @type Color
$btn-on-color: rgb(255, 0, 0) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
